html {
  background-color: #EEE;
  color: #333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light";
  font-weight: 300;
  margin: 20px;
}

body {
}

h1 {
  font-size: 50px;
}

p, li {
  font-size: 20px;
}
